html {
    height: 100%;
}

body {
    background-color: #E0E0EB;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Helvetica, sans-serif;
    margin: 0;
    font-weight: 500;
}

header {
    width: 100%;
    height: 50px;
    display: block;
    background-color: #007dcf;
    box-shadow: 0px 3px 10px gray;
}

ul {
    padding: 0;
}

li {
    padding: 0;
    display: flex;
}

.dashboard {
    min-width: 1500px;
    min-height: 731px;
}

.highlight {
    background-color: lightblue;
}

.holdhighlight {
}

.bottom-panel p {
    color: green;
}

input[type=checkbox] {
    margin: 6px 10px 0 4px;
}

.dashboard > div {
    min-height: 350px;
    margin-left: 1%;
    margin-top: 1%;
    background: white;
    float: left;
    padding: 10px;
    max-height: 40%;
    box-shadow: 3px 3px 10px gray;
}

.heading {
    width: 100%;
    height: 6px;
    background-color: gray;
    text-align: center;
    color: white;
}

.left-panel {
    width: 33%;
}


/* top right panel styles - ticket selector */
.right-panel {
    width: 64%;
    margin-right: 1%;
    position: relative;
}

tbody {
    overflow: auto;
}

thead, tbody {
    display: table-header-group;
}

th, td {
    max-width: 150px;
    border-bottom: 1px solid black;
    overflow: hidden;
    font-size: 1.1em;
    max-height: 70px;
}

th {
    text-align: center;
}

td {
    text-align: right;
}

tr {
    max-height: 70px;
}

.filter-options {
    font-size: 18px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding-right: 20px;
}

    .filter-options li {
        height: 24px;
    }

        .filter-options li:first-child {
            float: left;
        }

        .filter-options li:last-child {
            float: right;
        }

    .filter-options input[type="text"] {
        margin-left: 10px;
        height: 24px;
        width: 255px;
    }

.bottom-panel {
    position: relative;
    width: 98%;
}

label[for=requesterInformation], label[for=pickupLocation], label[for=collectionDetails], label[for=additionalNotes] {
    clear: both;
    font-size: 1.4em;
    width: 100%;
    margin: 20px 0;
    padding-left: 30px;
    border-bottom: 1px solid black;
}

.bottom-panel .buttons-panel {
    position: absolute;
    top: 6px;
    right: 10px;
    padding: 2px;
}

input[type=button] {
    background-color: #007dcf;
    color: white;
    border: none;
    font-size: 14px;
    height: 44px;
    float:right;
}

legend {
    margin-top: -4px;
    font-size: 32px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: 600;
    margin-bottom:10px;
}

.modal-dialog {
    margin-top: 300px;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-bdy {
    padding-top: 20px;
    text-align: center;
}

.modal-ftr .button-holder {
margin:auto;
}

.modal-ftr input[type=button] {
    margin:10px 10px 20px 0px;
    padding-right:16px;
    padding-left:16px;
    width:70px;
    height:30px;
}

    .modal-ftr input[type=button]:focus {
        border-color: rgb(77,144,254);
        border-width: 5px;
        box-shadow: 0 0 15px rgb(77,144,254);
    }

.modal-ftr {
    position: relative;
    min-height: 52px;
}
