@model string

<!DOCTYPE html>
<html>
<head>
    <title>Tech Recycle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/content/images/favicon.ico" rel="shortcut icon" />
    <link href="~/content/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/content/styles/style.css" rel="stylesheet" />
</head>
<body ng-app="techRecycleApp">
    <header>

    </header>

    <div class="dashboard" ng-controller="ManagerCtrl">
        <div class="left-panel">
            
        </div>

        <div class="right-panel">
            <div class="heading"></div>
            <table class="table table-bordered" fixed-header>
                <thead>
                    <tr>
                        <th>Ticket Number</th>
                        <th>Current Status</th>
                        <th>Alias</th>
                        <th>Location</th>
                        <th>Last Modified By</th>
                        <th>Modified Date</th>
                        <th>Open Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ticket in tickets" ng-click="selectTicket(ticket)" ng-class="isActive(ticket) ? 'active-row' : {highlight: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                        <td>{{ticket.TicketNumber}}</td>
                        <td>{{ticket.CurrentStatus}}</td>
                        <td>{{ticket.Alias}}</td>
                        <td>{{ticket.Location}}</td>
                        <td>{{ticket.LastModifiedBy}}</td>
                        <td>{{ticket.ModifyDate}}</td>
                        <td>{{ticket.OpenDate}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="filter-options">
                <ul>
                    <li>
                        <b style="margin-right:6px;">Tickets Shown: </b> 
                        Open <input type="checkbox" value="Open" checked /> 
                        Scheduled <input type="checkbox" value="Scheduled" checked /> 
                        Closed <input type="checkbox" value="Closed" />
                    </li><li>
                        <b>Search by Ticket, Name, Alias, or Date:</b> <input type="text" />
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom-panel">
            <div ng-if="selectedTicket.TicketNumber">
                <div class="buttons-panel">
                    <input type="button" value="Schedule Pickup" ng-click="schedulePickup(selectedTicket)" ng-if="selectedTicket.CurrentStatus == 'Open'" />
                    <input type="button" value="Close Ticket" ng-click="" ng-if="selectedTicket.CurrentStatus == 'Scheduled'" />
                    <input type="button" value="Reschedule Pickup" ng-click="schedulePickup(selectedTicket)" ng-if="selectedTicket.CurrentStatus == 'Scheduled'" />
                </div>
                <fieldset>
                    <legend>{{selectedTicket.TicketNumber}}</legend>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label for="name">Name:</label> {{selectedTicket.Name}}<br />
                        <label for="alias">Alias:</label> {{selectedTicket.Alias}}<br />
                        <label for="phone" clean-phone>Phone:</label> {{selectedTicket.Phone.substring(0,1)}}<span></span>{{selectedTicket.Phone.substring(1)}}<br />
                        <label for="email">Email:</label> {{selectedTicket.Email}}<br />
                        <label for="alternateName">Alternate Name:</label> {{selectedTicket.AlternateName}}<br />
                        <label for="alternatePhone">Alternate Phone:</label> {{selectedTicket.AlternatePhone.substring(0,1)}}<span></span>{{selectedTicket.AlternatePhone.substring(1)}}<br />
                        <label for="alternateEmail">Alternate Email:</label> {{selectedTicket.AlternateEmail}}<br />
                        <label for="building">Building:</label> {{selectedTicket.Building}}<br />
                        <label for="location">Location:</label> {{selectedTicket.Location}}<br />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label for="pickupSize">Pickup Size:</label> {{selectedTicket.PickupSize}}<br />
                        <label for="binQuantity">Bin Quantity:</label> {{selectedTicket.BinQuantity || "N/A"}}<br />
                        <label for="computerQuantity">Computer Quantity:</label> {{selectedTicket.ComputerQuantity}}<br />
                        <label for="monitorQuantity">Monitor Quantity:</label> {{selectedTicket.MonitorQuantity}}<br />
                        <label for="miscQuantity">Misc Quantity:</label> {{selectedTicket.MiscQuantity}}<br />
                        <label for="binLocation1">Bin Location 1:</label> {{selectedTicket.BinLocation1 || "N/A"}}<br />
                        <label for="binLocation2">Bin Location 2:</label> {{selectedTicket.BinLocation2 || "N/A"}}<br />
                        <label for="binLocation3">Bin Location 3:</label> {{selectedTicket.BinLocation3 || "N/A"}}<br />
                        <label for="binLocation4">Bin Location 4:</label> {{selectedTicket.BinLocation4 || "N/A"}}<br />
                        <label for="binLocation5">Bin Location 5:</label> {{selectedTicket.BinLocation5 || "N/A"}}<br />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label for="isHBIRequest">HBI Request:</label> {{selectedTicket.IsHBIRequest ? "HBI" : "Non-HBI"}}<br />
                        <label for="needsSecureBins">Needs Secure Bins:</label> {{selectedTicket.NeedsSecureBins || "N/A"}}<br />
                        <label for="secureBinQuantity">Secure Bin Quantity:</label> {{selectedTicket.SecureBinQuantity || "N/A"}}<br />
                        <label for="destructionLocation">Onsite or Offsite Destruction:</label> {{selectedTicket.DestructionLocation || "N/A"}}<br />
                        <label for="witnessType">Type of Witness:</label> {{selectedTicket.WitnessType || "N/A"}}<br />
                        <label>Additional Notes:</label> {{selectedTicket.AdditionalNotes || "N/A"}}<br />
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                        <label for="openDate">Open Date:</label> {{selectedTicket.OpenDate}}<br />
                        <label for="modifyDate">Modify Date:</label> {{selectedTicket.ModifyDate}}<br />
                        <label for="closeDate">Close Date:</label> {{selectedTicket.CloseDate}}<br />
                        <label for="lastModifiedBy">Last Modified By:</label> {{selectedTicket.LastModifiedBy}}<br />
                    </div>
                </fieldset>
            </div>

            @*<div class="col-md-12 col-sm-12 col-xs-12"><h2>{{selectedTicket.TicketNumber}}</h2></div>

            <label for="requesterInformation">Requester Information</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label for="name">Name: {{selectedTicket.Name}}</label><br />
                <label for="phone">Phone: {{selectedTicket.Phone}}</label><br />
                <label for="email">Email: {{selectedTicket.Email}}</label><br />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label for="alternateName">Alternate Name: {{selectedTicket.AlternateName}}</label><br />
                <label for="alternatePhone">Alternate Phone: {{selectedTicket.AlternatePhone}}</label><br />
                <label for="alternateEmail">Alternate Email: {{selectedTicket.AlternateEmail}}</label><br />
            </div>

            <label for="pickupLocation">Pickup Location</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label for="building">Building: {{selectedTicket.Building}}</label><br />
                <label for="location">Location: {{selectedTicket.Location}}</label>
            </div>

            <label for="collectionDetails">Collection Details</label>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label for="pickupSize">Pickup Size: {{selectedTicket.PickupSize}}</label><br />
                <label for="binQuantity">Bin Quantity: {{selectedTicket.BinQuantity}}</label><br />
                <label for="binLocation1">Bin Location 1: {{selectedTicket.BinLocation1}}</label><br />
                <label for="binLocation2">Bin Location 2: {{selectedTicket.BinLocation2}}</label><br />
                <label for="binLocation3">Bin Location 3: {{selectedTicket.BinLocation3}}</label><br />
                <label for="binLocation4">Bin Location 4: {{selectedTicket.BinLocation4}}</label><br />
                <label for="binLocation5">Bin Location 5: {{selectedTicket.BinLocation5}}</label><br />

                <label for="computerQuantity">Computer Quantity: {{selectedTicket.ComputerQuantity}}</label><br />
                <label for="monitorQuantity">Monitor Quantity: {{selectedTicket.MonitorQuantity}}</label><br />
                <label for="miscQuantity">Misc Quantity: {{selectedTicket.MiscQuantity}}</label><br />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <label for="isHBIRequest">HBI Request: {{selectedTicket.IsHBIRequest}}</label><br />
                <label for="needsSecureBins">Needs Secure Bins: {{selectedTicket.NeedsSecureBins}}</label><br />
                <label for="secureBinQuantity">Secure Bin Quantity: {{selectedTicket.SecureBinQuantity}}</label><br />
                <label for="destructionLocation">Destroy Onsite or Offsite: {{selectedTicket.DestructionLocation}}</label><br />
                <label for="witnessType">Type of Witness: {{selectedTicket.WitnessType}}</label><br />
            </div>

            <label for="additionalNotes">Additional Notes</label>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <label>Additional Notes: {{selectedTicket.AdditionalNotes}}</label><br />
            </div>*@
        </div>
    </div>

    <footer class="center"></footer>
    <script src="~/content/scripts/angular.js"></script>
    <script src="~/content/scripts/angular-route.js"></script>
    <script src="~/content/scripts/angular-animate.js"></script>
    <script src="~/content/scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/app/app.js"></script>
</body>
</html>
